#!/bin/bash
#
# Copyright 2016 HLRS, University of Stuttgart
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
#=============================================================================
#
#         FILE: log4bsh.conf.example
#
#        USAGE: Rename to 'log4bsh.conf' and move it to the same directory.
#
#  DESCRIPTION: Example logging configuration.
#
#=============================================================================
set -o nounset;

#
# Log file, default location is '~/log4bash.log'.
#
LOG_FILE="~/log4bash.log";

#
# Optional log level, default is ''.
# If it is set the env vars 'TRACE' and 'DEBUG' are ignored.
# Can be used for fine-granular logging, i.e.
#
#  LOG_LEVEL="" (default, same as LOG_LEVEL="ALL:INFO")
#  LOG_LEVEL="ALL" (same as LOG_LEVEL="ALL:ALL")
#  LOG_LEVEL="ALL,myScript:INFO"
#  LOG_LEVEL="ALL:WARN,myScript" (same as LOG_LEVEL="ALL:WARN,myScript:ALL")
#
LOG_LEVEL="";

#
# Use log rotate and prevent single log files to grow endless,
# default is 'true'.
#
LOG_ROTATE=true;

#
# Max file size in KB for logs, default is '10485760' (10MB)
# Ignored if $LOG_ROTATE is disabled.
#
MAX_LOG_SIZE=10485760; #10MB

#
# Use colors for log msgs, default is 'true'.
#
USE_COLORS=true;

#
# Enables DEBUG messages, default is 'false'.
#
DEBUG=false;

#
# Enables TRACE messages, default is 'false'.
# NOTE: If trace is enabled, debug also is.
#
TRACE=false;

#
# Mapping of log levels to custom colors.
#
declare -A COLORS;
LOG4BSH_COLORS["TRACE"]='\033[1;31m';
LOG4BSH_COLORS["DEBUG"]='\033[1;31m';
LOG4BSH_COLORS["INFO"]='\033[0;34m';
LOG4BSH_COLORS["WARN"]='\033[1;31m';
LOG4BSH_COLORS["ERROR"]='\033[1;31m';


#----------------------------------------------------------------------------#
#                                                                            #
#                          OPTIONAL FUNCTION HOOKS                           #
#                                                                            #
#----------------------------------------------------------------------------#


#---------------------------------------------------------
#
# Override the exit hook function. It will be called in
# case of an exit caused by an error message, shortly
# before 'exit' is called to terminate.
#
log4bsh_exitHook() {
  echo "This function cleans up on exit due to error.."
  rm -Rf /tmp/myScript.tmp.files/;
}


#---------------------------------------------------------
#
# Override mapping function, remove '.sh' suffix from
# scripts that are logged.
#
log4bsh_mapName() {
  local scriptName=$1;
  scriptName="$(basename $scriptName)"; # cut off path name
  scriptName="${scriptName%%.sh}"; # cut off .sh extension
  scriptName="${scriptName##-*}";  # cut off leading '-'
  echo $scriptName;
}
